<mat-nav-list dense>
     <!-- home-->
     <a mat-list-item [routerLink]="['']">
          <span mat-line><span class="mat-h4">Home</span> </span>
          <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/609/609803.png" alt="">
     </a>
     <mat-divider class="mt-2"> </mat-divider>

     <div>



     </div>
    
     <div >
          <button class="btn-menu w-100" mat-button
               onclick="if(document.getElementById('pr1') .style.display=='none') {
               document.getElementById('pr1') .style.display=''
               }else{
                    document.getElementById('pr1') .style.display='none'
               } "
               (click)="menuClick1()"
               title="Click to show/hide" type="button">
               <div class="d-flex justify-content-between">
                    <p class="">PR</p>  
                    <mat-icon >{{ico}}</mat-icon>
               </div>
               
               
     </button>
 
     <div id="pr1" style="display: none;" >
          <button class="w-100 btn-menu " [routerLink]="['home']" mat-button color="primary" type="button">
               <p class=" px-2">PR-n</p> 
          </button>
     </div>
     <br />
     </div>
     <!---->
     <div >
          <button class="btn-menu w-100" mat-button
          onclick="if(document.getElementById('pr2') .style.display=='none') {
               document.getElementById('pr2') .style.display=''
               }else{
                    document.getElementById('pr2') .style.display='none'
               } " type="button" (click)="menuClick2()">
           <div class="d-flex justify-content-between">
               <p class="">PR2</p>  
               <mat-icon >{{ico2}}</mat-icon>
          </div>
     </button>

     <div id="pr2" style="display: none;" >
          <button class="w-100 btn-menu "  mat-button color="primary"
               onclick="if(document.getElementById('pr2-2') .style.display=='none') {
               document.getElementById('pr2-2') .style.display=''
               }else{
                    document.getElementById('pr2-2') .style.display='none'
               } " type="button" (click)="menuClick3()" >
              <div class="d-flex justify-content-between">
               <p class="px-2">check</p>  
               <mat-icon >{{ico3}}</mat-icon>
          </div>
          </button>
          <div id="pr2-2" style="display: none;" >
               <button class="w-100 btn-menu " [routerLink]="['home']" mat-button color="primary">
                   <p class="px-3">PR-n</p> 
               </button>
          </div>
     </div>

     <br />
     </div>
   <button mat-raised-button class="w-100" onclick="
   if(document.getElementById('pic1'))"></button>

</mat-nav-list>