.images {
  background-image: url("backGro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

mat-card.card {
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  height: 550px;
  width: 300px;
  border: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0.5);
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  position: absolute;
  top: 40px;
  font-size: 3rem;
  display: flex;
}

#logo {
  font-size: 10rem;
  width: 100%;
  height: 40%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  padding-top: 20px;

}

.login-form{
  position: relative;
  height: 50px;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#logo-input{
  margin: 0 20px;
  padding-right: 20px;
  font-size: 1.5rem;
  border-right: 2px solid #bdc3c7;
  color: #bdc3c7;
  width: 20%;
}

.input{
  height: 35px;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  outline: none;
  background: transparent;
  z-index: 1;
}

.btn-submit{
  margin: 20px 0;
  padding: 15px 0;
  border: none;
  width: 100%;
  border-radius: 10px;
  background-image: linear-gradient(120deg,#ecf0f1,#95a5a6,#ecf0f1);
  background-size: 200%;
  font-size: 1.5rem;
  color: #fff;
  transition: .5s;
  cursor: pointer;

}

.btn-submit:hover{
  background-position: right;
}