<mat-form-field  appearance="fill">
     <mat-label>name</mat-label>
     <input matInput type="text" [(ngModel)]="name" (keyup)="onKeyUpname($event)">
</mat-form-field>
<mat-form-field  appearance="fill">
     <mat-label>name</mat-label>
     <input matInput type="text" [(ngModel)]="name1" (keyup)="onKeyUpname1($event)">
</mat-form-field>
name com1:{{name}}<br>
name1 com1:{{name1}}

<p>
header : {{count}}
</p>
<button (click)="_onReset()">
     reset
</button>

<button (click)="_onSetName()"> Chang name </button>
