.avatar{
     height:2.5rem;
     width:2.5rem;
     border:1px solid #99a4dd;
     object-fit: cover;
 }
 
 .vl{
     border-left: 2px solid #99a4dd;
     margin: 0 5px;
     height: 20px;
 }

.imcenter{
    height: 80px;
}