<mat-card>
     <form [formGroup]="project_codeForm" (ngSubmit)="onSubmit()">

          <mat-card-title> สร้างรหัส Project</mat-card-title>
          <mat-card-subtitle> กรุณากรอกข้อมูลให้ครบถ้วน</mat-card-subtitle>
          <mat-card-content>
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Username</mat-label>
                              <input formControlName="username" name="username" matInput required>
                              <mat-error *ngIf="project_codeForm.get('username')?.hasError('required')">
                                   Please enter your <strong>username.</strong> 
                              </mat-error>

                         </mat-form-field>
                    </div>
               </div>
               <!-- username password-->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Password</mat-label>
                              <input formControlName="pass" name="pass" autocomplete="on" matInput
                                   [type]="hide ? 'password' : 'text'" required #mypassword>
                              <button mat-icon-button matSuffix (click)="hide = !hide"
                                   [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                   <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="project_codeForm.get('pass')?.hasError('required')">
                                   Please enter your  <strong>password.</strong>
                              </mat-error>
                         </mat-form-field>
                         <!--
                          Value: {{ project_codeForm.value | json }}
                        -->

                    </div>
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Confirm password</mat-label>
                              <input formControlName="cpass" name="cpass" autocomplete="on" matInput
                                   [type]="hide ? 'password' : 'text'" required>
                              <button mat-icon-button matSuffix (click)="hide = !hide"
                                   [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                              </button>
                              <mat-error *ngIf="project_codeForm.value.cpass">
                                  <strong>Passwords do not match.</strong> 
                              </mat-error>
                         </mat-form-field>
                    </div>

               </div>
               <!-- Name -->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Your name</mat-label>
                              <input matInput formControlName="name" name="name">
                              <mat-error *ngIf="project_codeForm.get('name')?.hasError('required')">
                                   Please enter your <strong>name.</strong> 
                              </mat-error>
                         </mat-form-field>
                    </div>
               </div>
               <!-- site dept-->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Site</mat-label>
                              <input matNativeControl matInput matNativeControl required [matAutocomplete]="site"
                                   formControlName="site" type="text" id="site" name="site">
                              <mat-autocomplete #site="matAutocomplete">
                                   <mat-option *ngFor="let site of filtered_site | async" [value]="site.site">

                                        <span>{{site.sitename}}</span>
                                        <small>Site: {{site.site}}</small>
                                   </mat-option>
                              </mat-autocomplete>
                              <mat-error *ngIf="project_codeForm.get('site')?.hasError('required')">
                                   Please enter your <strong>site.</strong> 
                              </mat-error>
                         </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Department</mat-label>
                              <input matNativeControl formControlName="dept" matInput matNativeControl required
                                   [matAutocomplete]="section" type="text" id="section" name="section">
                              <mat-autocomplete #section="matAutocomplete">
                                   <mat-option *ngFor="let section of filtered_section | async"
                                        [value]="section.section">

                                        <span>{{section.sectionname}}</span> |
                                        <small>Section: {{section.section}}</small>
                                   </mat-option>
                              </mat-autocomplete>
                              <mat-error *ngIf="project_codeForm.get('dept')?.hasError('required')">
                                   Please enter your <strong>department.</strong> 
                              </mat-error>
                         </mat-form-field>
                    </div>
               </div>
               <!-- operation  position-->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Your operation</mat-label>
                              <input matInput formControlName="operation" name="operation">
                              <mat-error *ngIf="project_codeForm.get('operation')?.hasError('required')">
                                   Please enter your <strong>operation.</strong> 
                              </mat-error>
                         </mat-form-field>
                         
                    </div>
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Your position</mat-label>
                              <input matInput formControlName="position" name="position">
                              <mat-error *ngIf="project_codeForm.get('position')?.hasError('required')">
                                   Please enter your <strong>department.</strong> 
                              </mat-error>
                         </mat-form-field>
                         
                    </div>
               </div>
               <!-- tel  -->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Your phone number</mat-label>
                              <input type="tel" formControlName="tel" matInput name="tel">
                              <mat-error *ngIf="project_codeForm.get('tel')?.hasError('required')">
                                   Please enter your <strong>phone number.</strong> 
                              </mat-error>
                              <mat-error *ngIf="project_codeForm.value.tel">
                                   syntax tel error
                              </mat-error>
                         </mat-form-field>
                    </div>

               </div>
               <!-- email  -->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Email</mat-label>
                              <input type="email" matInput [formControl]="emailFormControl"
                                   placeholder="Ex. pat@example.com">
                              <mat-error
                                   *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                   Please enter a valid email address
                              </mat-error>
                              <mat-error *ngIf="emailFormControl.hasError('required')">
                                   Email is <strong>required</strong>
                              </mat-error>

                         </mat-form-field>
                    </div>
               </div>
               <!-- buyyer -->
               <div class="row">
                    <div class="col-lg-6">
                         <mat-form-field class="w-100" appearance="fill">
                              <mat-label>Your buyer</mat-label>
                              <input formControlName="buyercode" name="buyercode" matInput required>
                              <mat-error *ngIf="project_codeForm.get('buyercode')?.hasError('required')">
                                   Please enter your <strong>buyercode.</strong> 
                              </mat-error>
                         </mat-form-field>
                      
                    </div>
               </div>
          </mat-card-content>
          <mat-card-actions>
               <div class="row d-flax justify-content-center">
                    <div class="col-lg-2">
                         <button mat-button type="submit" class="mt-1 btn-submit"
                              [disabled]="this.project_codeForm.invalid">
                              Save </button>
                    </div>
                    <div class="col-lg-2">
                         <button mat-button type="submit" class="mt-1 btn-submit"
                              [routerLink]="['/mastar/code-project-home']"> Cancel </button>

                    </div>
               </div>

          </mat-card-actions>

     </form>
</mat-card>